body {
  height: 100%;
}

/* #site-header {
  text-align: center;
  font-family: "Arial Narrow", sans-serif;
  font-size: 70px;
} */

#site-header {
  text-align: center;

}

.contact-method-icon {
  padding: 5px;
  width: 50px;
}

canvas {
  width: 250px;
  height: 250px;
  background: grey;
}